@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
		/* --light-main: #e9ecee;  
--light-secondary: #ffffff ;
--light-panel: #ffffff;  
--light-accent: #f2f5f7;  
--light-hover: #f2f5f7;  
--light-border: #cdd0d5; 
--light-input: #cdd0d5; 
--light-ring: #1a1f23; 
--light-gray-primary: #d7d8d9;  
--light-gray-secondary: #d7d8d9;  
--light-green-primary: #008069; 
--light-green-chat: #e5f8e5; 

 
--dark-main: #0e141a; 
--dark-secondary: #1a1f23;  
--dark-panel: #1a232b; 
--dark-accent: #2d3c4c;  
--dark-hover: #2d3c4c;  
--dark-border: #2a3a4d; 
--dark-input: #2a3a4d ; 
--dark-ring: #e1e8ed;  
--dark-gray-primary: #2d3c4c;  
--dark-gray-secondary: #2b3a44;  
--dark-green-primary: #004f2e; 
--dark-green-chat: #00a884 ; */

    /* Backgrounds */
    --background:  #e9ecee;  
    --background-dark: 202, 31%, 7%;  
 
    --foreground: 222.2 84% 4.9%;
    --foreground-dark: 210 40% 98%;

 
    --left-panel-light: 0 0 100%;  
    --left-panel-dark: 203, 32%, 10%;  

 
    --chat-background-light: 180, 5%, 96%;
    --chat-background-dark: 202, 23%, 16%;
    --chat-hover-light: 180, 5%, 96%;
    --chat-hover-dark: 202, 23%, 16%;
 
    --green-primary-light: 167, 100%, 33%;
    --green-primary-dark: 169, 100%, 18%;
    --green-chat-light: 111, 91%, 91%;
    --green-chat-dark: 165, 100%, 39%;

 
    --gray-primary-light: 216, 20%, 95%;
    --gray-primary-dark: 202, 23%, 16%;
    --gray-secondary-light: 216, 20%, 95%;
    --gray-secondary-dark: 202, 22%, 17%;
    --gray-tertiary-dark: 203, 22%, 21%;
 
    --card-light: 0 0% 100%;
    --card-dark: 222.2 84% 4.9%;
    --popover-light: 0 0% 100%;
    --popover-dark: 222.2 84% 4.9%;
    --primary-light: 222.2 47.4% 11.2%;
    --primary-dark: 210 40% 98%;
    --border-light: 214.3 31.8% 91.4%;
    --border-dark: 217.2 32.6% 17.5%;
    --input-light: 214.3 31.8% 91.4%;
    --input-dark: 217.2 32.6% 17.5%;
    --ring-light: 222.2 84% 4.9%;
    --ring-dark: 212.7 26.8% 83.9%;
  }

  .dark {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
    --left-panel: var(--left-panel-dark);
    --chat-background: var(--chat-background-dark);
    --chat-hover: var(--chat-hover-dark);
    --green-primary: var(--green-primary-dark);
    --green-chat: var(--green-chat-dark);
    --gray-primary: var(--gray-primary-dark);
    --gray-secondary: var(--gray-secondary-dark);
    --gray-tertiary: var(--gray-tertiary-dark);
    --card: var(--card-dark);
    --popover: var(--popover-dark);
    --primary: var(--primary-dark);
    --border: var(--border-dark);
    --input: var(--input-dark);
    --ring: var(--ring-dark);
  }
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-[#0C1317]  text-foreground  overflow-y-hidden  ;
	} 
}

/* Ant Design */
/* Tooltip */
.ant-tooltip-inner {
		@apply !bg-[#202C33] !text-white;
}
 .ant-tooltip .ant-tooltip-arrow::before, .ant-tooltip .ant-tooltip-arrow::after   {
		@apply !bg-[#202C33]  ;
}

/*   DARK MODE THIN SCROLLBAR */
@layer components {
	::-webkit-scrollbar {
		width: 6px;
	}
	::-webkit-scrollbar-thumb {
		background-color: hsl(var(--gray-primary));
		border-radius: 4px;
	}
	::-webkit-scrollbar-track {
		background-color: hsl(var(--container));
	}
	
::-webkit-scrollbar {
  width: 10px; 
} 
::-webkit-scrollbar-thumb {
  background-color: #333936; 
  margin: 2px;
  border: 3px solid #0c1317; 
}
 
::-webkit-scrollbar-track {
  background-color: #0c1317 !important;   
}
}
